{% comment %}
  Notification Message Snippet

  Parameters:
  - block: {Object} The block.
  - settings: {Object} The block's settings.

  Usage:
  {% render 'live-notification-message', block: block, settings: block.settings %}
{% endcomment %}

<div
  class="live-notification-message"
  style="display: none;"
  {{ block.shopify_attributes }}
>
  <div class="live-notification-content">
    {{ settings.text }}
  </div>
  <button
    type="button"
    class="live-notification-close"
    aria-label="{{ 'accessibility.close' | t }}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>
</div>
